aiosqlite==0.17.0
altgraph==0.17.2
beautifulsoup4==4.12.0
certifi==2022.12.7
charset-normalizer==3.1.0
future==0.18.2
idna==3.4
iso8601==1.1.0
json-stream==2.3.0
json-stream-rs-tokenizer==0.4.17
macholib==1.15.2
numpy==1.24.3
pandas==2.0.1
pip==23.1.2
pypika-tortoise==0.1.6
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.28.2
setuptools==58.0.4
shortuuid==1.0.11
six==1.15.0
soupsieve==2.4
SQLAlchemy==2.0.7
sqlalchemy-json==0.5.0
tortoise-orm==0.19.3
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
wheel==0.37.0
